@import "utils";

@blue: #627aad;
@header_font_size: 20px;
@header_height: 32px;
@footer_height: 16px;
@footer_font_size: 10px;
.expand(){
	height: 100%;
	width: 100%;
}

html, body{
	height: 100%;
	overflow: hidden;
}
#page{
	.expand;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: inherit;
}
#header{
	position: absolute;
	white-space: nowrap;
	top: 0px;
	left: 0px;
	width: 100%;
	height: @header_height;
	color: white;
	background-color: @blue;
	border-bottom: 1px solid darken(@blue, 10%);
	font-size: @header_font_size;
	line-height: @header_height;
	#logo{
		padding-left: 0.62em;
	}
	a{
		color: #eee;
	}
	a:hover{
		color: #fff;
		text-shadow: 1px 1px #666;
	}
}
#mainmenu{
	position: absolute;
	top: 0px;
	right: 0px;
	height: @header_height;
	line-height: @header_height;
	#menutoggle{
		display: inline-block;
		padding: 0px 0.62em;
		height: @header_height;
		line-height: @header_height;
		background-color: lighten(@blue, 10%);
		border-left: 1px solid darken(@blue, 30%);
		span{
			font-weight: bold;
			margin-right: 5px;
		}
	}
	ul{
		display: none;
		position: absolute;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		top: @header_height;
		right: 0px;
		z-index: 300;
		li{
			background-color: white;
			display: block;
			padding: 5px 0.62em;
			border-bottom: 1px solid #3d60a8;
		}
		a{
			display: block;
			width: 100%;
			color: #3d60a8;
		}
		a:hover{
			color: #3d60a8;
		}
	}
}
#content_wrapper{
	.expand;
	padding-top: @header_height;
	padding-bottom: @footer_height;
	.box-sizing(border-box);
}
#content, #content_map{
	.expand;
}
#content{
	overflow: auto;
}
#map_canvas{
	.expand;
}
#footer{
	width: 100%;
	position: absolute;
	text-align: center;
	white-space: nowrap;
	bottom: 0px;
	left: 0px;
	height: @footer_height;
	font-size: @footer_font_size;
	line-height: @footer_height;
	background-color: lighten(@blue, 50%);
}
